<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Abricot</string>
	<string>Abricotier des Antilles</string>
	<string>Acérola</string>
	<string>Agrumes</string>
	<string>Airelle</string>
	<string>Alkékenge</string>
	<string>Amande</string>
	<string>Amélanche</string>
	<string>Ananas</string>
	<string>Annona</string>
	<string>Annona cherimola</string>
	<string>Arbousier</string>
	<string>Asiminier trilobé</string>
	<string>Attier</string>
	<string>Aubergine</string>
	<string>Avocat</string>
	<string>Banane</string>
	<string>Barbadine</string>
	<string>Bergamote</string>
	<string>Bigarade</string>
	<string>Bigaradier</string>
	<string>Brugnon</string>
	<string>Cachiman</string>
	<string>Canneberge</string>
	<string>Carambolier</string>
	<string>Cassis</string>
	<string>Caïmite</string>
	<string>Cerise</string>
	<string>Cerise de Cayenne</string>
	<string>Chayote</string>
	<string>Chicoutai</string>
	<string>Châtaigne</string>
	<string>Citron</string>
	<string>Citron vert</string>
	<string>Climat tropical</string>
	<string>Clémentine</string>
	<string>Coing</string>
	<string>Combava</string>
	<string>Concombre</string>
	<string>Cornichon</string>
	<string>Cornouiller du Canada</string>
	<string>Corossol</string>
	<string>Courge</string>
	<string>Cucumis metulifer</string>
	<string>Cynorrhodon</string>
	<string>Datte</string>
	<string>Durian</string>
	<string>Fe&apos;i</string>
	<string>Figue</string>
	<string>Figuier de Barbarie</string>
	<string>Fraise</string>
	<string>Framboise</string>
	<string>Fruit de la passion</string>
	<string>Fruit-à-pain</string>
	<string>Fève de cacao</string>
	<string>Girembellier</string>
	<string>Goyave</string>
	<string>Grenade</string>
	<string>Grenadelle</string>
	<string>Grenadille</string>
	<string>Griotte</string>
	<string>Groseille</string>
	<string>Icaque</string>
	<string>Jacquier</string>
	<string>Jambose rouge</string>
	<string>Jujube</string>
	<string>Kaki</string>
	<string>Kiwi</string>
	<string>Kumquat</string>
	<string>Lime</string>
	<string>Litchi</string>
	<string>Longane</string>
	<string>Mandarine</string>
	<string>Mangoustan</string>
	<string>Mangue</string>
	<string>Marron</string>
	<string>Melon</string>
	<string>Mirabelle</string>
	<string>Mombin</string>
	<string>Myrtille</string>
	<string>Myrtus</string>
	<string>Mûre (fruit de la ronce)</string>
	<string>Noisette</string>
	<string>Noix</string>
	<string>Noix de cajou</string>
	<string>Noix de coco</string>
	<string>Noix de muscade</string>
	<string>Nèfle</string>
	<string>Nèfle du Japon</string>
	<string>Néflier du Japon</string>
	<string>Olive</string>
	<string>Orange</string>
	<string>Pain de singe</string>
	<string>Pamplemousse</string>
	<string>Papaye</string>
	<string>Passiflora laurifolia</string>
	<string>Passiflore</string>
	<string>Pastèque</string>
	<string>Pepino</string>
	<string>Physalis</string>
	<string>Pistache</string>
	<string>Pitaya</string>
	<string>Poire</string>
	<string>Poivron</string>
	<string>Pomme</string>
	<string>Pomme de cajou</string>
	<string>Pomme de lait</string>
	<string>Pomélo</string>
	<string>Prune</string>
	<string>Prunier de Cythère</string>
	<string>Pêche</string>
	<string>Quenettier</string>
	<string>Quetsche</string>
	<string>Raisin</string>
	<string>Ramboutan</string>
	<string>Salak</string>
	<string>Sapote</string>
	<string>Sapotillier</string>
	<string>Tamarillo</string>
	<string>Tamarin</string>
	<string>Tamarin d&apos;Inde</string>
	<string>Taxo</string>
	<string>Tomate</string>
	<string>Vangueria madagascariensis</string>
	<string>Yuzu</string>
	<string>Épine-vinette</string>
</array>
</plist>
